HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

#####解决.gitignore不生效,不生效原因是因为你设置的文件已经被纳入git版本管理，所以需要先清空本地git缓存#####
#git rm -r --cached .
#git add .
#git commit -m 'update .gitignore'
#git push origin master
#################################